Makefile
Makefile.in.orig
autocmd.o
buffer.o
calc.o
color.o
config.h
config.stat
ctags
ctags.o
cut.o
descr.o
digraph.o
display.o
dmhex.o
dmmarkup.o
dmnormal.o
dmsyntax.o
doc/elvfmt.man
doc/elvisopt.html.orig
draw.o
elvfmt
elvis
elvtags
event.o
ex.o
exaction.o
exconfig.o
exedit.o
exmake.o
exsubst.o
fmt
fold.o
ftp.o
gui.o
guicurs.o
guiopen.o
guitcap.o
guix11.o
http.o
input.o
io.o
lowbuf.o
lp.o
lpescape.o
lpovrtyp.o
lpps.o
main.o
map.o
mark.o
message.o
misc.o
more.o
move.o
need.o
operator.o
optglob.o
options.o
osblock.o
osdir.o
osnet.o
osprg.o
ostext.o
ref
ref.o
regexp.o
region.o
regsub.o
safe.o
scan.o
search.o
session.o
spell.o
state.o
tag.o
tagelvis.o
tagsrch.o
tcaphelp.o
tinytcap.o
url.o
vi.o
vicmd.o
window.o
xclip.o
xdialog.o
xevent.o
xmisc.o
xscroll.o
xstatus.o
xtext.o
xtool.o
